<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugReport.Backend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugReport.Backend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Issue Management Page</h1>
    </header>
    
    <nav id="nav-account">
        <a id="btnLogin" href="/Account/SignIn">로그인</a>
        <a id="btnSignUp" href="/Account/SignUp">회원가입</a>
        <a id="btnLogout" href="javascript:logout()">로그아웃</a>
    </nav>
    
        <div class="container-fluid">
            <div class="row">
                <aside class="col-md-2">
                    <ul>
                        <li><a href="#">Issue Report</a></li>
                    </ul>
                </aside>
                <div class="col-md-10">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/account.js" ></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
