@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<link rel="stylesheet" href="/css/site.css" />
<div class="form-container">
    <form method="post" action="/Account/SignUp">
        <div>
            <label for="username">ID</label>
            <input type="text" id="userId" name="userId" required>
        </div>
        <div>
            <label for="username">Name</label>
            <input type="text" id="userName" name="userName" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="password">Password Confirm</label>
            <input type="password" id="passwordRepeat" name="passwordRepeat" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
