<form method="post" action="/SignUpRequest">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="Id" required /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="Password" required /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Log in</button></td>
        </tr>
    </table>
</form>